<div class="forms">
  <form method="post" action="/">
    <h3>Task Manager</h3>
    <input name="title" type="text" placeholder="task" />
    <button id="create" type="submit">Create task</button>
  </form>
</div>
